/* _content/SmartWorkoutApp/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-zvvyaqj43l] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zvvyaqj43l] {
    flex: 1;
}

.sidebar[b-zvvyaqj43l] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    width: 250px;
}

.top-row[b-zvvyaqj43l] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zvvyaqj43l]  a, .top-row[b-zvvyaqj43l]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-zvvyaqj43l]  a:hover, .top-row[b-zvvyaqj43l]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-zvvyaqj43l]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-zvvyaqj43l] {
        justify-content: space-between;
    }

    .top-row[b-zvvyaqj43l]  a, .top-row[b-zvvyaqj43l]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zvvyaqj43l] {
        flex-direction: row;
    }

    .sidebar[b-zvvyaqj43l] {
        width: 225px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zvvyaqj43l] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-zvvyaqj43l]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-zvvyaqj43l], article[b-zvvyaqj43l] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-zvvyaqj43l] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-zvvyaqj43l] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
    
/* _content/SmartWorkoutApp/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ojkr9v3mcf] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-ojkr9v3mcf] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-ojkr9v3mcf] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ojkr9v3mcf] {
    font-size: 1.1rem;
}

.bi[b-ojkr9v3mcf] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-ojkr9v3mcf] {
    background-image: url("home.png");
}

.bi-plus-square-fill-nav-menu[b-ojkr9v3mcf] {
   background-image: url("icons8-gym-64.png");
}

.bi-list-nested-nav-menu[b-ojkr9v3mcf] {
    background-image: url("user.png");
}

.nav-item[b-ojkr9v3mcf] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ojkr9v3mcf] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ojkr9v3mcf] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ojkr9v3mcf]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-ojkr9v3mcf]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-ojkr9v3mcf]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-ojkr9v3mcf] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-ojkr9v3mcf] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ojkr9v3mcf] {
        display: none;
    }

    .nav-scrollable[b-ojkr9v3mcf] {
        display: block;
        
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/SmartWorkoutApp/Components/Pages/Account/Login/AccessDenied.razor.rz.scp.css */
/* _content/SmartWorkoutApp/Components/Pages/Account/Login/Login.razor.rz.scp.css */
*[b-huko45x1ba] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body[b-huko45x1ba] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container[b-huko45x1ba] {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    animation: fadeIn-b-huko45x1ba 1s ease-in-out;
    margin-left: 110px; /* Adaugă o margine la stânga */
    margin-right: 30px;
}

@keyframes fadeIn-b-huko45x1ba {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.container .title[b-huko45x1ba] {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
    animation: slideInFromLeft-b-huko45x1ba 1s ease-in-out;
}

@keyframes slideInFromLeft-b-huko45x1ba {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.content .row[b-huko45x1ba] {
    display: flex;
    justify-content: center;
}

.col-lg-4[b-huko45x1ba] {
    width: 100%;
    max-width: 400px;
}

.border[b-huko45x1ba] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    animation: fadeInUp-b-huko45x1ba 1s ease-in-out;
}

@keyframes fadeInUp-b-huko45x1ba {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-control[b-huko45x1ba] {
    height: 45px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.form-control:focus[b-huko45x1ba] {
    border-color: #9b59b6;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}

.btn-primary[b-huko45x1ba] {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.btn-primary:hover[b-huko45x1ba] {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.login-link[b-huko45x1ba] {
    text-align: center;
    margin-top: 20px;
    animation: fadeIn-b-huko45x1ba 1s ease-in-out;
}

.login-link a[b-huko45x1ba] {
    color: #9b59b6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-link a:hover[b-huko45x1ba] {
    color: #5d3275;
}
/* _content/SmartWorkoutApp/Components/Pages/Account/SignUp/SignUp.razor.rz.scp.css */
*[b-imy3puh5mb] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body[b-imy3puh5mb] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container[b-imy3puh5mb] {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    animation: fadeIn-b-imy3puh5mb 1s ease-in-out;
    margin-left: 110px; /* Adaugă o margine la stânga */
    margin-right: 30px;
}
@keyframes fadeIn-b-imy3puh5mb {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.container .title[b-imy3puh5mb] {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    animation: slideInFromLeft-b-imy3puh5mb 1s ease-in-out;
}
@keyframes slideInFromLeft-b-imy3puh5mb {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.container .title[b-imy3puh5mb]::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 152px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details[b-imy3puh5mb] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    animation: fadeInUp-b-imy3puh5mb 1s ease-in-out;
}
@keyframes fadeInUp-b-imy3puh5mb {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
form .user-details .input-box[b-imy3puh5mb] {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    animation: zoomIn-b-imy3puh5mb 1s ease-in-out;
}
@keyframes zoomIn-b-imy3puh5mb {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
form .input-box span.details[b-imy3puh5mb] {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input[b-imy3puh5mb],
.user-details .input-box select[b-imy3puh5mb] {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus[b-imy3puh5mb],
.user-details .input-box input:valid[b-imy3puh5mb],
.user-details .input-box select:focus[b-imy3puh5mb],
.user-details .input-box select:valid[b-imy3puh5mb] {
    border-color: #9b59b6;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}
form .button[b-imy3puh5mb] {
    height: 45px;
    margin: 35px 0;
    animation: fadeInUp-b-imy3puh5mb 1s ease-in-out;
}
form .button input[b-imy3puh5mb] {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover[b-imy3puh5mb] {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
form .button input:active[b-imy3puh5mb] {
    transform: scale(0.98);
}
.login-link[b-imy3puh5mb] {
    text-align: center;
    margin-top: 20px;
    animation: fadeIn-b-imy3puh5mb 1s ease-in-out;
}
.login-link a[b-imy3puh5mb] {
    color: #9b59b6;
    text-decoration: none;
    transition: color 0.3s ease;
}
.login-link a:hover[b-imy3puh5mb] {
    color: #5d3275;
}
/* _content/SmartWorkoutApp/Components/Pages/Exercises.razor.rz.scp.css */
/* site.css */

.table[b-7ioknfex9i] {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    overflow: hidden;
}

.table th[b-7ioknfex9i], .table td[b-7ioknfex9i] {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.addButton[b-7ioknfex9i], .deleteButton[b-7ioknfex9i], .updateButton[b-7ioknfex9i] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.addButton[b-7ioknfex9i]{
    margin-bottom: 25px;
}

.addButton:hover[b-7ioknfex9i], .deleteButton:hover[b-7ioknfex9i], .updateButton:hover[b-7ioknfex9i] {
    background-color: #0056b3;
}

.addForm[b-7ioknfex9i] {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background-color: #f8f9fa;
}

.submitButton[b-7ioknfex9i] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.submitButton:hover[b-7ioknfex9i] {
    background-color: #218838;
}

/* site.css */

.modalBackground[b-7ioknfex9i] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundal semitransparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asigură că modalul este peste tot conținutul */
}

.modalContainer[b-7ioknfex9i] {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px; /* Lățime maximă */
    overflow: hidden; /* Evită scroll bar-ul pentru conținutul modal */
    animation: fadeInUp-b-7ioknfex9i 0.3s ease-out; /* Animatie de intrare */
}

.modalContainer h4[b-7ioknfex9i] {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modalContainer form[b-7ioknfex9i] {
    margin-top: 1rem;
}

.modalContainer table[b-7ioknfex9i] {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.modalContainer table th[b-7ioknfex9i],
.modalContainer table td[b-7ioknfex9i] {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.modalContainer table th[b-7ioknfex9i] {
    background-color: #f2f2f2;
}

.modalContainer table td input[b-7ioknfex9i] {
    width: 100%;
    padding: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modalContainer table td button[b-7ioknfex9i] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.modalContainer table td button:hover[b-7ioknfex9i] {
    background-color: #c82333;
}

.modalContainer .submitButton[b-7ioknfex9i],
.modalContainer .cancelButton[b-7ioknfex9i] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.modalContainer .submitButton:hover[b-7ioknfex9i],
.modalContainer .cancelButton:hover[b-7ioknfex9i] {
    background-color: #0056b3;
}

/* Animatie de intrare fadeInUp */
@keyframes fadeInUp-b-7ioknfex9i {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* _content/SmartWorkoutApp/Components/Pages/Home.razor.rz.scp.css */
.welcome-text[b-piqrqqt469] {
    animation: fadeIn-b-piqrqqt469 2s ease-in-out;
}

.feature-card[b-piqrqqt469] {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover[b-piqrqqt469] {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn-b-piqrqqt469 {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-primary[b-piqrqqt469] {
    color: #007bff; /* Bootstrap's primary color */
}

.text-primary:hover[b-piqrqqt469] , .text-primary:active[b-piqrqqt469]{
    text-decoration: underline;
}

.text-danger[b-piqrqqt469] {
    color: #cc40ff; /* Bootstrap's danger color */
}

.text-muted[b-piqrqqt469] {
    color: #6c757d; /* Bootstrap's muted color */
}

.welcome[b-piqrqqt469] {
    cursor: pointer;
    margin: auto;
    font-size: 5vmin;
    font-weight: 300;
    transition: font-weight 500ms ease-in-out;
}

.welcome:hover[b-piqrqqt469] {
    font-weight: 900;
}

.cool-welcome-text[b-piqrqqt469] {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif ;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    letter-spacing: 0.5px;
    line-height:2rem;
}

h1[b-piqrqqt469]{
    background-image: url(https://i.gifer.com/A7CA.gif);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 90px;
    margin: 10px 0;
}

/* _content/SmartWorkoutApp/Components/Pages/Invite.razor.rz.scp.css */
/* style.css */

.invite-container[b-f099rvogv8] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.invite-form[b-f099rvogv8] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invite-form label[b-f099rvogv8] {
    font-weight: bold;
    margin-bottom: 8px;
}

.invite-form input[type=email][b-f099rvogv8] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.invite-form button[b-f099rvogv8] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.invite-form button:hover[b-f099rvogv8] {
    background-color: #0056b3;
}

.invite-message[b-f099rvogv8] {
    margin-top: 16px;
    font-weight: bold;
}

.error-message[b-f099rvogv8] {
    color: red;
}

.success-message[b-f099rvogv8] {
    color: green;
}
/* _content/SmartWorkoutApp/Components/Pages/MyTrainingSessions.razor.rz.scp.css */
.workouts-container[b-hutc9m74w7] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.workout[b-hutc9m74w7] {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    width: 300px;
    margin-top: 15px;
}

.workout h2[b-hutc9m74w7] {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.workout-details[b-hutc9m74w7] {
    margin-bottom: 10px;
}

.details-row[b-hutc9m74w7] {
    margin-bottom: 5px;
}

.exercise-list[b-hutc9m74w7] {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.exercise-list li[b-hutc9m74w7] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* Modal */
.modal-container[b-hutc9m74w7] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5);
}

/*
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.3s ease-out forwards;
    z-index: 1050;
    opacity: 0;
    display: none;
}
*/

.modal-content[b-hutc9m74w7] {
    max-height: 70vh;
    overflow-y: auto;
}

.modal.show[b-hutc9m74w7] {
    display: block;
    opacity: 1;
}

.modal-header[b-hutc9m74w7] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header h3[b-hutc9m74w7] {
    margin: 0;
}

.close-btn[b-hutc9m74w7] {
    background: none;
    border: none;
    font-size: 1rem;
    width: 70px;
    height: 40px;
    cursor: pointer;
    padding: 0;
    background-color: red;  
}

.modal-backdrop[b-hutc9m74w7] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    animation: fadeInBackdrop-b-hutc9m74w7 0.3s ease-out forwards;
    opacity: 0;
    display: none;
}

.modal-backdrop.show[b-hutc9m74w7] {
    display: block;
    opacity: 1;
}

.modal-body[b-hutc9m74w7] {
    margin-bottom: 20px;
}

.modal-footer[b-hutc9m74w7] {
    display: flex;
    justify-content: flex-end;
}

@keyframes fadeIn-b-hutc9m74w7 {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeInBackdrop-b-hutc9m74w7 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* _content/SmartWorkoutApp/Components/Pages/TrainingSessions.razor.rz.scp.css */
.workouts-container[b-tzcj3biwfx] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

.user-workouts[b-tzcj3biwfx] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.workout[b-tzcj3biwfx] {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    width: 300px;
    margin-top: 15px;
}

.workout h3[b-tzcj3biwfx] {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.workout-details[b-tzcj3biwfx] {
    margin-bottom: 10px;
}

.details-row[b-tzcj3biwfx] {
    margin-bottom: 5px;
}

.exercise-list[b-tzcj3biwfx] {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.exercise-list li[b-tzcj3biwfx] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* Modal */
.modal-container[b-tzcj3biwfx] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content[b-tzcj3biwfx] {
    max-height: 70vh;
    overflow-y: auto;
}

.modal.show[b-tzcj3biwfx] {
    display: block;
    opacity: 1;
}

.modal-header[b-tzcj3biwfx] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header h5[b-tzcj3biwfx] {
    margin: 0;
}

.btn[b-tzcj3biwfx] {
    font-size: 0.8rem;
    padding: 5px 10px;
}

.close-btn[b-tzcj3biwfx] {
    background: none;
    border: none;
    font-size: 1rem;
    width: 70px;
    height: 40px;
    cursor: pointer;
    padding: 0;
    background-color: red;
}

.btn-danger[b-tzcj3biwfx] {
    background-color: red;
    border: none;
    color: white;
}

.btn-primary[b-tzcj3biwfx] {
    background-color: blue;
    border: none;
    color: white;
}

.btn-warning[b-tzcj3biwfx] {
    background-color: orange;
    border: none;
    color: white;
}

.modal-backdrop[b-tzcj3biwfx] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    animation: fadeInBackdrop-b-tzcj3biwfx 0.3s ease-out forwards;
    opacity: 0;
    display: none;
}

.modal-backdrop.show[b-tzcj3biwfx] {
    display: block;
    opacity: 1;
}

.modal-body[b-tzcj3biwfx] {
    margin-bottom: 20px;
}

.modal-footer[b-tzcj3biwfx] {
    display: flex;
    justify-content: flex-end;
}

@keyframes fadeIn-b-tzcj3biwfx {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeInBackdrop-b-tzcj3biwfx {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* _content/SmartWorkoutApp/Components/Pages/UserPage.razor.rz.scp.css */
.page-title[b-vgurfcm2i6] {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #2c3e50; /* Nuanță de albastru închis */
    background: linear-gradient(to right, #6574cd, #4a69bd); /* Gradient albastru-mov */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px slateblue; /* Umbra albastru-mov */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

.table[b-vgurfcm2i6] {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    color: #2c3e50; /* Text albastru închis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th[b-vgurfcm2i6] {
    background-color: slateblue; /* Verde închis pentru antete */
    color: white;
}

.table tr:nth-child(even)[b-vgurfcm2i6] {
    background-color: #f2f2f2; /* Fundal gri deschis pentru rânduri pare */
}

.addButton[b-vgurfcm2i6], .submitButton[b-vgurfcm2i6], .cancelButton[b-vgurfcm2i6], .deleteButton[b-vgurfcm2i6], .updateButton[b-vgurfcm2i6] {
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.addButton[b-vgurfcm2i6] {
    background-color: #4CAF50; /* Verde închis pentru butoane */
}

.addButton:hover[b-vgurfcm2i6] {
    background-color: #45a049;
    transform: scale(1.05);
}

.submitButton[b-vgurfcm2i6] {
    background-color: #2c3e50; /* Albastru închis pentru butoane de submit */
}

.submitButton:hover[b-vgurfcm2i6] {
    background-color: #1a2834;
    transform: scale(1.05);
}

.cancelButton[b-vgurfcm2i6] {
    background-color: #ff6347; /* Roșu aprins pentru butoane de cancel */
}

.cancelButton:hover[b-vgurfcm2i6] {
    background-color: #ff4834;
    transform: scale(1.05);
}

.deleteButton[b-vgurfcm2i6] {
    padding: 8px 12px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ff6347; /* Contur roșu pentru butoane de ștergere */
    border-radius: 5px;
    color: #ff6347;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.deleteButton:hover[b-vgurfcm2i6] {
    background-color: #ff6347;
    color: white;
}

.updateButton[b-vgurfcm2i6] {
    background-color: transparent; /* Albastru pentru butoane de actualizare */
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #005bb5;
    color: #005bb5;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.updateButton:hover[b-vgurfcm2i6] {
    background-color: #005bb5;
    color:white;
}

.popup[b-vgurfcm2i6] {
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup .popuptext[b-vgurfcm2i6] {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.show[b-vgurfcm2i6] {
    display: block;
    animation: fadeIn-b-vgurfcm2i6 0.5s;
}

.form-group[b-vgurfcm2i6] {
    margin-bottom: 15px;
}

.form-group label[b-vgurfcm2i6] {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.input[b-vgurfcm2i6] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid darkslateblue; /* Contur verde pentru inputuri */
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
}

@keyframes fadeIn-b-vgurfcm2i6 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* _content/SmartWorkoutApp/Components/Pages/Workouts.razor.rz.scp.css */
