/* _content/SmartWorkoutApp/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-zvvyaqj43l] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zvvyaqj43l] {
    flex: 1;
}

.sidebar[b-zvvyaqj43l] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-zvvyaqj43l] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zvvyaqj43l]  a, .top-row[b-zvvyaqj43l]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-zvvyaqj43l]  a:hover, .top-row[b-zvvyaqj43l]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-zvvyaqj43l]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-zvvyaqj43l] {
        justify-content: space-between;
    }

    .top-row[b-zvvyaqj43l]  a, .top-row[b-zvvyaqj43l]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zvvyaqj43l] {
        flex-direction: row;
    }

    .sidebar[b-zvvyaqj43l] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zvvyaqj43l] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-zvvyaqj43l]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-zvvyaqj43l], article[b-zvvyaqj43l] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-zvvyaqj43l] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-zvvyaqj43l] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/SmartWorkoutApp/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ojkr9v3mcf] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-ojkr9v3mcf] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-ojkr9v3mcf] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ojkr9v3mcf] {
    font-size: 1.1rem;
}

.bi[b-ojkr9v3mcf] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-ojkr9v3mcf] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-ojkr9v3mcf] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-ojkr9v3mcf] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-ojkr9v3mcf] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ojkr9v3mcf] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ojkr9v3mcf] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ojkr9v3mcf]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-ojkr9v3mcf]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-ojkr9v3mcf]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-ojkr9v3mcf] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-ojkr9v3mcf] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ojkr9v3mcf] {
        display: none;
    }

    .nav-scrollable[b-ojkr9v3mcf] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/SmartWorkoutApp/Components/Pages/Account/Login/AccessDenied.razor.rz.scp.css */
/* _content/SmartWorkoutApp/Components/Pages/Account/Login/Login.razor.rz.scp.css */
*[b-huko45x1ba] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body[b-huko45x1ba] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container[b-huko45x1ba] {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    animation: fadeIn-b-huko45x1ba 1s ease-in-out;
    margin-left: 110px; /* Adaugă o margine la stânga */
    margin-right: 30px;
}

@keyframes fadeIn-b-huko45x1ba {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.container .title[b-huko45x1ba] {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
    animation: slideInFromLeft-b-huko45x1ba 1s ease-in-out;
}

@keyframes slideInFromLeft-b-huko45x1ba {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.content .row[b-huko45x1ba] {
    display: flex;
    justify-content: center;
}

.col-lg-4[b-huko45x1ba] {
    width: 100%;
    max-width: 400px;
}

.border[b-huko45x1ba] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    animation: fadeInUp-b-huko45x1ba 1s ease-in-out;
}

@keyframes fadeInUp-b-huko45x1ba {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-control[b-huko45x1ba] {
    height: 45px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.form-control:focus[b-huko45x1ba] {
    border-color: #9b59b6;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}

.btn-primary[b-huko45x1ba] {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.btn-primary:hover[b-huko45x1ba] {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.login-link[b-huko45x1ba] {
    text-align: center;
    margin-top: 20px;
    animation: fadeIn-b-huko45x1ba 1s ease-in-out;
}

.login-link a[b-huko45x1ba] {
    color: #9b59b6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-link a:hover[b-huko45x1ba] {
    color: #5d3275;
}
/* _content/SmartWorkoutApp/Components/Pages/Account/SignUp/SignUp.razor.rz.scp.css */
*[b-imy3puh5mb] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body[b-imy3puh5mb] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container[b-imy3puh5mb] {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    animation: fadeIn-b-imy3puh5mb 1s ease-in-out;
    margin-left: 110px; /* Adaugă o margine la stânga */
    margin-right: 30px;
}
@keyframes fadeIn-b-imy3puh5mb {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.container .title[b-imy3puh5mb] {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    animation: slideInFromLeft-b-imy3puh5mb 1s ease-in-out;
}
@keyframes slideInFromLeft-b-imy3puh5mb {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.container .title[b-imy3puh5mb]::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details[b-imy3puh5mb] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    animation: fadeInUp-b-imy3puh5mb 1s ease-in-out;
}
@keyframes fadeInUp-b-imy3puh5mb {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
form .user-details .input-box[b-imy3puh5mb] {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    animation: zoomIn-b-imy3puh5mb 1s ease-in-out;
}
@keyframes zoomIn-b-imy3puh5mb {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
form .input-box span.details[b-imy3puh5mb] {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input[b-imy3puh5mb],
.user-details .input-box select[b-imy3puh5mb] {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus[b-imy3puh5mb],
.user-details .input-box input:valid[b-imy3puh5mb],
.user-details .input-box select:focus[b-imy3puh5mb],
.user-details .input-box select:valid[b-imy3puh5mb] {
    border-color: #9b59b6;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}
form .button[b-imy3puh5mb] {
    height: 45px;
    margin: 35px 0;
    animation: fadeInUp-b-imy3puh5mb 1s ease-in-out;
}
form .button input[b-imy3puh5mb] {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover[b-imy3puh5mb] {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
form .button input:active[b-imy3puh5mb] {
    transform: scale(0.98);
}
.login-link[b-imy3puh5mb] {
    text-align: center;
    margin-top: 20px;
    animation: fadeIn-b-imy3puh5mb 1s ease-in-out;
}
.login-link a[b-imy3puh5mb] {
    color: #9b59b6;
    text-decoration: none;
    transition: color 0.3s ease;
}
.login-link a:hover[b-imy3puh5mb] {
    color: #5d3275;
}
/* _content/SmartWorkoutApp/Components/Pages/Exercises.razor.rz.scp.css */
/*
.addButton {
    border: none;
    color: white;
    background-color:green;
    padding: 15px 32px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: green;
    margin-top: 10px;
}

.addButton:hover{
    background-color : limegreen;
    color:white;
}*/
/* _content/SmartWorkoutApp/Components/Pages/Home.razor.rz.scp.css */
.welcome-text[b-piqrqqt469] {
    animation: fadeIn-b-piqrqqt469 2s ease-in-out;
}

.feature-card[b-piqrqqt469] {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover[b-piqrqqt469] {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn-b-piqrqqt469 {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-primary[b-piqrqqt469] {
    color: #007bff; /* Bootstrap's primary color */
}

.text-primary:hover[b-piqrqqt469] , .text-primary:active[b-piqrqqt469]{
    text-decoration: underline;
}

.text-danger[b-piqrqqt469] {
    color: #cc40ff; /* Bootstrap's danger color */
}

.text-muted[b-piqrqqt469] {
    color: #6c757d; /* Bootstrap's muted color */
}

.welcome[b-piqrqqt469] {
    cursor: pointer;
    margin: auto;
    font-size: 5vmin;
    font-weight: 300;
    transition: font-weight 500ms ease-in-out;
}

.welcome:hover[b-piqrqqt469] {
    font-weight: 900;
}

.cool-welcome-text[b-piqrqqt469] {
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #cc40ff;
    margin-top: 2rem; /* Adăugăm un spațiu de sus adecvat */
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 4px 4px #c940ff, 10px 10px #000000;
}
/* _content/SmartWorkoutApp/Components/Pages/TrainingSessions.razor.rz.scp.css */
/* _content/SmartWorkoutApp/Components/Pages/UserPage.razor.rz.scp.css */
.page-title[b-vgurfcm2i6] {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #2c3e50; /* Nuanță de albastru închis */
    background: linear-gradient(to right, #6574cd, #4a69bd); /* Gradient albastru-mov */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px slateblue; /* Umbra albastru-mov */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

.table[b-vgurfcm2i6] {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    color: #2c3e50; /* Text albastru închis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th[b-vgurfcm2i6] {
    background-color: slateblue; /* Verde închis pentru antete */
    color: white;
}

.table tr:nth-child(even)[b-vgurfcm2i6] {
    background-color: #f2f2f2; /* Fundal gri deschis pentru rânduri pare */
}

.addButton[b-vgurfcm2i6], .submitButton[b-vgurfcm2i6], .cancelButton[b-vgurfcm2i6], .deleteButton[b-vgurfcm2i6], .updateButton[b-vgurfcm2i6] {
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.addButton[b-vgurfcm2i6] {
    background-color: #4CAF50; /* Verde închis pentru butoane */
}

.addButton:hover[b-vgurfcm2i6] {
    background-color: #45a049;
    transform: scale(1.05);
}

.submitButton[b-vgurfcm2i6] {
    background-color: #2c3e50; /* Albastru închis pentru butoane de submit */
}

.submitButton:hover[b-vgurfcm2i6] {
    background-color: #1a2834;
    transform: scale(1.05);
}

.cancelButton[b-vgurfcm2i6] {
    background-color: #ff6347; /* Roșu aprins pentru butoane de cancel */
}

.cancelButton:hover[b-vgurfcm2i6] {
    background-color: #ff4834;
    transform: scale(1.05);
}

.deleteButton[b-vgurfcm2i6] {
    padding: 8px 12px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ff6347; /* Contur roșu pentru butoane de ștergere */
    border-radius: 5px;
    color: #ff6347;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.deleteButton:hover[b-vgurfcm2i6] {
    background-color: #ff6347;
    color: white;
}

.updateButton[b-vgurfcm2i6] {
    background-color: transparent; /* Albastru pentru butoane de actualizare */
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #005bb5;
    color: #005bb5;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.updateButton:hover[b-vgurfcm2i6] {
    background-color: #005bb5;
    color:white;
}

.popup[b-vgurfcm2i6] {
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup .popuptext[b-vgurfcm2i6] {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.show[b-vgurfcm2i6] {
    display: block;
    animation: fadeIn-b-vgurfcm2i6 0.5s;
}

.form-group[b-vgurfcm2i6] {
    margin-bottom: 15px;
}

.form-group label[b-vgurfcm2i6] {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.input[b-vgurfcm2i6] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid darkslateblue; /* Contur verde pentru inputuri */
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
}

@keyframes fadeIn-b-vgurfcm2i6 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
