/* Reset CSS */
*[b-7ioknfex9i] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Animatie de fadeInUp */
@keyframes fadeInUp-b-7ioknfex9i {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Stiluri generale pentru tabele */
.table[b-7ioknfex9i] {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    overflow: hidden;
}

th[b-7ioknfex9i]{
    border-bottom: 1px solid;
    width: 100%;
}

.table th[b-7ioknfex9i], .table td[b-7ioknfex9i] {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Stiluri pentru butoane */
.addButton[b-7ioknfex9i], .deleteButton[b-7ioknfex9i], .updateButton[b-7ioknfex9i] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.deleteButton[b-7ioknfex9i]{
    background-color: rgba(255,0,0,0.7);
}

.updateButton[b-7ioknfex9i]{
    background-color: forestgreen;
}

.addButton:hover[b-7ioknfex9i], .deleteButton:hover[b-7ioknfex9i], .updateButton:hover[b-7ioknfex9i] {
    background-color: #0056b3;
}

.deleteButton:hover[b-7ioknfex9i]{
    background-color: rgba(255,0,0,1);
}

.updateButton:hover[b-7ioknfex9i]{
    background-color: darkgreen;
}

/* Stiluri pentru formularul de adăugare */
.addForm[b-7ioknfex9i] {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    animation: fadeInUp-b-7ioknfex9i 0.3s ease-out;
}

.input[b-7ioknfex9i] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.submitButton[b-7ioknfex9i] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.submitButton:hover[b-7ioknfex9i] {
    background-color: #218838;
}

/* Stiluri pentru modalul de editare */
.modalBackground[b-7ioknfex9i] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundal semitransparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asigură că modalul este peste tot conținutul */
}

.modalContainer[b-7ioknfex9i] {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px; /* Lățime maximă */
    overflow: hidden; /* Evită scroll bar-ul pentru conținutul modal */
    animation: fadeInUp-b-7ioknfex9i 0.3s ease-out; /* Animatie de intrare */
}

.modalContainer h4[b-7ioknfex9i] {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modalContainer form[b-7ioknfex9i] {
    margin-top: 1rem;
}

.modalContainer table[b-7ioknfex9i] {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.modalContainer table th[b-7ioknfex9i],
.modalContainer table td[b-7ioknfex9i] {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.modalContainer table td input[b-7ioknfex9i] {
    width: 100%;
    padding: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modalContainer table td button[b-7ioknfex9i] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.modalContainer table td button:hover[b-7ioknfex9i] {
    background-color: #c82333;
}

.container-buttons[b-7ioknfex9i]{
    display:flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.modalContainer .submitButton[b-7ioknfex9i],
.modalContainer .cancelButton[b-7ioknfex9i] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.modalContainer .submitButton:hover[b-7ioknfex9i],
.modalContainer .cancelButton:hover[b-7ioknfex9i] {
    background-color: #0056b3;
}
