.workouts-container[b-tzcj3biwfx] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

.user-workouts[b-tzcj3biwfx] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.workout[b-tzcj3biwfx] {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    width: 300px;
    margin-top: 15px;
}

.workout h3[b-tzcj3biwfx] {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.workout-details[b-tzcj3biwfx] {
    margin-bottom: 10px;
}

.details-row[b-tzcj3biwfx] {
    margin-bottom: 5px;
}

.exercise-list[b-tzcj3biwfx] {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.exercise-list li[b-tzcj3biwfx] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* Modal */
.modal-container[b-tzcj3biwfx] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content[b-tzcj3biwfx] {
    max-height: 70vh;
    overflow-y: auto;
}

.modal.show[b-tzcj3biwfx] {
    display: block;
    opacity: 1;
}

.modal-header[b-tzcj3biwfx] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header h5[b-tzcj3biwfx] {
    margin: 0;
}

.btn[b-tzcj3biwfx] {
    font-size: 0.8rem;
    padding: 5px 10px;
}

.close-btn[b-tzcj3biwfx] {
    background: none;
    border: none;
    font-size: 1rem;
    width: 70px;
    height: 40px;
    cursor: pointer;
    padding: 0;
    background-color: red;
}

.btn-danger[b-tzcj3biwfx] {
    background-color: red;
    border: none;
    color: white;
}

.btn-primary[b-tzcj3biwfx] {
    background-color: blue;
    border: none;
    color: white;
}

.btn-warning[b-tzcj3biwfx] {
    background-color: orange;
    border: none;
    color: white;
}

.modal-backdrop[b-tzcj3biwfx] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    animation: fadeInBackdrop-b-tzcj3biwfx 0.3s ease-out forwards;
    opacity: 0;
    display: none;
}

.modal-backdrop.show[b-tzcj3biwfx] {
    display: block;
    opacity: 1;
}

.modal-body[b-tzcj3biwfx] {
    margin-bottom: 20px;
}

.modal-footer[b-tzcj3biwfx] {
    display: flex;
    justify-content: flex-end;
}

@keyframes fadeIn-b-tzcj3biwfx {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeInBackdrop-b-tzcj3biwfx {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
