.addButton {
    border: none;
    color: white;
    background-color:green;
    padding: 15px 32px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: green;
    margin-top: 10px;
}

.addButton:hover{
    background-color : limegreen;
    color:white;
}

/* Popup container */
.popup {
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Popup content */
.popup .popuptext {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajustează lățimea popup-ului */
    max-width: 500px; /* Limităm lățimea maximă */
    position: absolute;
    left: 50%; /* Centrăm pe orizontală */
    top: 50%; /* Centrăm pe verticală */
    transform: translate(-50%, -50%); /* Corectăm poziționarea pentru centrat */
}

/* Add animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.show {
    display: block;
    animation: fadeIn 0.5s;
}

.submitButton, .cancelButton {
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.submitButton {
    background-color: darkgreen;
}

.cancelButton {
    background-color: darkred;
    float: right; 
}

.submitButton:hover
{
    background-color: slateblue;
    color:white;
}

.deleteButton {
    padding: 8px 12px; 
    font-size: 14px;
    background-color: transparent; 
    border: 1px solid red;
    border-radius: 5px; 
    color: red; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.deleteButton:hover {
    background-color: red;
    color: white; 
}

.input{
    width: 200px;
    height: 30px;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid darkslateblue;
    border-radius: 100px;
}

.cancelButton:hover {
    background-color: crimson;
}