@page "/AccessDenied"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager;

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="text-center">
                <img src="favicon.png" style="max-height: 5rem" />
            </div>
            <div class="text-center mt-2">
                <span class="text-danger fw-bolder">You don't have permission to acces this page.</span>
            </div>
        </div>
    </div>
</div>



@code {
    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    protected override async void OnInitialized()
    {
        await base.OnInitializedAsync();
        if (httpContext.User.Identity.IsAuthenticated)
        {
            await httpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout",true);
        }
    }

}