<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SmartWorkoutApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <AuthorizeView Roles="Trainer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Workouts">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Workouts
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>


        <AuthorizeView Roles="Trainer">
            <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Exercises">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Exercises
                </NavLink>
            </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Trainer">
            <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Users">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
                </NavLink>
            </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Trainer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="TrainingSessions">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Training Sessions 
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Trainer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Invite">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Invite someone
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Client">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="MyTrainingSessions">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> My Sessions
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>